@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #111;
    display: block;
    white-space: nowrap;
    font-family: 'TheJamsil5Bold';
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'TheJamsil5Bold';
    background: white;
    transition: background 1s ease-in-out;
}

/* 커스텀 마우스 포인터 */
.custom-cursor-area a {
    color: #283223;
    cursor: none;
}

.custom-cursor {
    position: absolute;
    top: -5%;
    left: -2.5%;
    pointer-events: none;
    /* 커서의 기본 속성 없앰 */
    background-color: rgba(40, 50, 35, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.custom-cursor i {
    margin-top: 2rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
    font-style: normal;
    color: white;
}

.custom-cursor b svg {
    width: 20px;
    fill: white;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: #aaaa78;
    /* header안의 자식 객체를 가로로 균등 배치 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

/* 마우스 스크롤을 내리면 header가 사라지고, 마우스 스크롤을 올리면 header가 내려오도록 설정할때의active클래스 */
/* header.active {
    position: fixed;
} */

header .logo {
    width: 17%;
}

/* 글로벌 내비게이션 */
header nav {
    height: 22px;
}

/* 주메뉴 */
header nav>ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

header nav>ul>li {
    /* 자식객체 .sub의 위치 설정할때 부모객체 li가 기준이됨 */
    position: relative;
    z-index: 20;
    padding: 0 40px;
}

header nav>ul>li>a {
    color: #283223;
    position: relative;
    display: inline-block;
    padding-bottom: 40px;
}

header nav>ul>li>a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #283223;
    left: 50%;
    bottom: 35px;
    transition: all 0.3s ease-out;
}

header nav>ul>li:hover>a:after {
    left: 0;
    width: 100%;
}

/* 서브메뉴 */
header nav .sub {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}

header nav .sub li a {
    padding: 10px 0;
    text-align: center;
    color: #006432;
    font-size: 14px;
}

header nav .sub li a:hover {
    color: #fff000;
}

/* 서브메뉴 배경 */
header .sub-bg {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200px;
    background-color: rgba(210, 210, 180, 0.9);
    top: 100px;
    left: 0;
}

header nav .nav-header {
    display: none;
}

/* 탑메뉴 */
header .top-menu {
    display: block;
    /* 안보임 */
    width: 20%;
}

header .top-menu ul {
    /* 자식객체 li를 가로로 균등배치 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header .top-menu ul li a {
    color: #283223;
}

/* 다국어지원 */
header .top-menu ul li:last-child a {
    display: flex;
}

header .top-menu ul li i {
    width: 18px;
    display: block;
    margin-left: 5px;
}

/* 모바일 버전 .top-menu 숨김 */
header .mobile-top-menu {
    display: none;
}

/* 동영상 */
.s1 {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}

.s1 .movie {
    position: absolute;
    width: 127%;
    height: 127%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.s1 .movie iframe {
    width: 100%;
    height: 100%;
}

/* .s1 .big-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.s1 .big-title h1 {
    font-family: "Scheherazade New", serif;
    font-weight: 400;
    font-style: normal;
    color: #006432;
    font-size: 10rem;
} */
.s1 .scroll {
    position: absolute;
    transform: rotateZ(90deg) translateX(-50%);
    bottom: -5px;
    left: 47%;
    display: flex;
    align-items: center;
}

.s1 .scroll h2 {
    color: white;
    font-size: 13px;
    margin-right: 20px;
}

.s1 .scroll .bar {
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.s1 .scroll .bar span {
    /* 인라인 요소를 블록 요소로 변환 */
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    -webkit-animation: barAni 5s infinite forwards;
    animation: barAni 5s infinite forwards;
}

@-webkit-keyframes barAni {
    0% {
        width: 0;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes barAni {
    0% {
        width: 0;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

/* s2 메인 슬라이드 */
.s2 {
    width: 100%;
    height: 100vh;
    stroke: #111;
    fill: #111;
    padding: 10% 5%;
    background-color: #d2d2b4;
}

.s2 .swiper {
    height: 100%;
}

.s2 .swiper .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #d2d2b4;
}

.s2 .swiper .swiper-slide .des {
    width: 28%;
    height: 100%;
    position: relative;
}

.s2 .swiper .swiper-slide .des>span {
    display: block;
    font-size: 1.1rem;
    position: absolute;
    top: 4rem;
    /* target: 0 */
    left: 0;
    opacity: 0;
    transition: opacity 1s 0.5s ease-out, top 1s 0.5s ease-out;
}

.s2 .swiper .swiper-slide .des h2 {
    font-size: 3.5rem;
    position: absolute;
    top: 6rem;
    /* target: 2rem */
    left: 0;
    opacity: 0;
    transition: opacity 1s 1s ease-out, top 1s 1s ease-out;
}

.s2 .swiper .swiper-slide .des>p {
    line-height: 2rem;
    color: #666;
    position: absolute;
    top: 16rem;
    /* target: 16rem */
    left: 0;
    opacity: 0;
    transition: opacity 1s 1.5s ease-out, top 1s 1.5s ease-out;
}

.s2 .swiper .swiper-slide .photo {
    position: relative;
    width: 50%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: clip-path 1s 1s ease-out;
}

/* 화면이 스크롤되면 서서히 나타나는 애니메이션(span, h2, p, .photo) */
.s2.child-ani .swiper .swiper-slide .des>span {
    opacity: 1;
    top: 0;
}

.s2.child-ani .swiper .swiper-slide .des h2 {
    opacity: 1;
    top: 2rem;
}

.s2 .swiper .swiper-slide .des>p {
    opacity: 1;
    top: 12rem;
}

.s2.child-ani .swiper .swiper-slide .photo {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.s2 .swiper .swiper-slide .photo span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
}

/* swiper 슬라이드 pagination(fraction) */
.s2 .swiper .swiper-pagination {
    bottom: 3.6rem;
}

.s2 .swiper .swiper-pagination .swiper-pagination-current {
    position: absolute;
    left: 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.s2 .swiper .swiper-pagination .swiper-pagination-total {
    position: absolute;
    left: 17rem;
    font-size: 0.8rem;
    font-weight: bold;
}

/* swiper 슬라이드 prev, next버튼 */
.s2 .swiper .swiper-button-prev {
    top: auto;
    bottom: 0;
    left: 19rem;
    bottom: 1.8rem;
}

.s2 .swiper .swiper-button-prev:after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url(../img/right_arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.s2 .swiper .swiper-button-next {
    top: auto;
    bottom: 0;
    left: 21rem;
    bottom: 1.8rem;
}

.s2 .swiper .swiper-button-next:after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url(../img/right_arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s2 .swiper .swiper-progress-bar {
    position: absolute;
    width: 12%;
    z-index: 1;
    height: 2px;
    bottom: 3.1rem;
    left: 2.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.s2 .swiper .swiper-progress-bar .progress-bar-ani {
    width: 100%;
    height: 100%;
}

.s2 .swiper .swiper-progress-bar .progress-bar-ani:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    width: 0;
    height: 2px;
}

.s2 .swiper .swiper-progress-bar.animate .progress-bar-ani:after {
    transition: width 4s linear;
    /* linear: 등속운동 */
    transition-delay: unset;
    /* 대기시간 없음 */
    width: 100%;
}

/* view more 버튼 */
/* rem단위 - root em 이라는 뜻, 브라우저 가로 길이가 기준임, 1rem은 16px임, 상대크기임 */
.s2 .swiper .swiper-slide .more-btn {
    position: absolute;
    bottom: 4.5rem;
}

.more-btn {
    width: 10rem;
    height: 3rem;
    border: 1px solid #111;
    margin-top: 27rem;
}

.more-btn a {
    display: flex;
}

.more-btn a .more {
    width: 70%;
    height: 2.9rem;
    border-right: 1px solid #111;
    position: relative;
}

.more-btn a .more span {
    position: absolute;
    background-color: #111;
    width: 0;
    height: 100%;
    transition: width 0.3s ease-out;
}

.more-btn a .more p {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 글자를 정가운데로 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    transition: color 0.3s ease-out;

}

.more-btn:hover a .more span {
    width: 100%;
}

.more-btn:hover a .more p {
    color: white;
}

.more-btn a .arrow {
    padding: 0.8rem;
    width: 30%;
}

.s3 {
    padding: 0 0 3%;
}

/* 흐르는 글자 */
.text-ani .text-wrap {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 10rem;
    color: rgb(255, 240, 0, 0.5);
    font-family: "Scheherazade New", serif;
}

.text-ani .text-wrap p {
    animation: textAni 100s linear infinite;
    padding-right: 0;
    font-weight: bold;
}

@keyframes textAni {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* 작품소개, scrollTrigger, s4 */
.s4 {
    width: 100%;
}

/* scrollTrigger 실행 시 pin고정 영역 */
.s4 .product {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.s4 .product .product-box {
    position: relative;
    width: 95%;
    height: 100%;
    margin: auto;
    opacity: 1;
    overflow: hidden;
}

.s4 .product .product-box .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* 그룩 선택자(,) */
.s4 .product .product-box .cont .left-img-box,
.s4 .product .product-box .cont .left-cover-box,
.s4 .product .product-box .cont .left-txt-box {
    position: relative;
    width: 50%;
    height: 100%;
}

.s4 .product .product-box .cont .right-img-box,
.s4 .product .product-box .cont .right-cover-box,
.s4 .product .product-box .cont .right-txt-box {
    position: relative;
    width: 50%;
    height: 100%;
}

.s4 .product .product-box .cont .product-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.s4 .product .product-box .cont .img-box3 {
    opacity: 0;
}

.s4 .product product-box .cont .product-img .photo {
    width: 100%;
    height: 100%;
}

.s4 .product product-box .cont .product-img .photo img {
    opacity: 1;
    filter: brightness(1);
    /* 밝기 적용 필터 */
}

.s4 .product .product-box .cover-box {
    position: absolute;
    left: 0;
    top: 0;
}

/* 위쪽 마스크 영역 */
.s4 .product .product-box .cover-box .cover1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #006432;
}

/* 오른쪽 마스크 영역 */
.s4 .product .product-box .cover-box .cover2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: #006432;
}

/* 아래쪽 마스크 영역 */
.s4 .product .product-box .cover-box .cover3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #006432;
}

/* 왼쪽 마스크 영역 */
.s4 .product .product-box .cover-box .cover4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #006432;
}

/* right-cover-box 영역의 마스크 크기 모두 0 */
.s4 .product .product-box .right-cover-box .cover1 {
    height: 0;
}

.s4 .product .product-box .right-cover-box .cover4 {
    width: 0;
}

.s4 .product .product-box .right-cover-box .cover3 {
    height: 0;
}

.s4 .product .product-box .right-cover-box .cover2 {
    width: 0;
}

.s4 .product .product-box .txt-box {
    position: absolute;
    left: 0;
    top: 0;
}

.s4 .product-box .product .product-title-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s4 .product .product-box .product-title-wrap .product-title-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8rem;
    background-color: #006432;
}

.s4 .product .product-box .product-title-wrap .product-title-child h2 {
    font-size: 3rem;
    position: absolute;
    left: -5rem;
    opacity: 0;
    transition: opacity 1s 0.5s ease-out, left 1s 0.5s ease-out;
    top: 3rem;
    color: #d2d2b4;
}

.s4 .product .product-box .product-title-wrap .product-title-child p {
    line-height: 1.7rem;
    position: absolute;
    left: -5rem;
    opacity: 0;
    transition: opacity 1s 0.5s ease-out, left 1s 0.5s ease-out;
    top: 7rem;
    color: #d2d2b4;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs {
    display: flex;
    flex-flow: row wrap;
    gap: 0.3rem;
    margin-top: 5rem;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box {
    width: 20%;
    height: 8rem;
    border: 1px solid #999;
    padding: 0.7rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.5s;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box h3 {
    font-style: 100;
    font-size: 0.8rem;
    color: #d2d2b4;
    transition: color 0.5s
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box span {
    position: absolute;
    display: block;
    text-align: right;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box {
    position: relative;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box span svg {
    width: 1rem;
    transition: fill 0.5s;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box:hover {
    background-color: #bebe78;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box:hover h3 {
    color: white;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box:hover span line {
    stroke: #fff000;
}

.s4 .product .product-box .product-title-wrap .product-title-child .boxs .box:hover span polyline {
    stroke: #fff000;
}

.s4 .product .product-box .product-img .product-img-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s4 .product .product-box .txt2,
.s4 .product .product-box .txt3 {
    opacity: 0;
}

.s4 .product .product-box .product-img .product-img-wrap .product-img-child {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* s4 자식객체 애니메이션 */
.s4 .product .product-box .txt1 .product-title-child .boxs .box {
    margin-top: 5rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-top 0.5s ease-out;
}

.s4.child-ani .product-box .txt1 .product-title-child .boxs .box {
    opacity: 1;
    margin-top: 0;
}

.s4.child-ani .product-box .txt1 .product-title-child .boxs .box1 {
    transition-delay: 0.1s;
}

.s4.child-ani .product-box .txt1 .product-title-child .boxs .box2 {
    transition-delay: 0.2s;
}

.s4.child-ani .product-box .txt1 .product-title-child .boxs .box3 {
    transition-delay: 0.3s;
}

.s4.child-ani .product-box .txt1 .product-title-child .boxs .box4 {
    transition-delay: 0.4s;
}

.s4 .product .product-box .cont .img-box1 {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition: clip-path 0.5s ease-out;
}

.s4.child-ani .product .product-box .cont .img-box1 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.s4.child-ani .product .product-box .product-title-wrap .product-title-child h2 {
    opacity: 1;
    left: 8rem;
}

.s4.child-ani .product .product-box .product-title-wrap .product-title-child p {
    opacity: 1;
    left: 8rem;
}

/* 뉴욕버거 매장 스타일 */
.s5 {
    padding: 20% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.s5 h2 {
    z-index: 10;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    color: #283223;
    font-size: 7.2rem;
    white-space: nowrap;
    font-family: "TheJamsil5Bold", cursive;
    text-align: center;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition: clip-path 1s 2.5s ease-out;
}

.s5 .custom-cursor a {
    background-color: #3282b8;
    cursor: url("../img/round.png"), auto;
}

.s5 .big-box {
    width: 100%;
    height: 80%;
}

.s5 .big-box .big-photo {
    width: 100%;
    height: 80%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: clip-path 1s 1.7s ease-out;
}

.s5 .big-box h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 1s 2.4s ease-out;
}

.s5 .big-box p {
    opacity: 0;
    transition: opacity 1s 3s ease-out;
}

.s5.child-ani h2 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.s5.child-ani .big-box .big-photo {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.s5.child-ani h3 {
    opacity: 1;
}

.s5.child-ani p {
    opacity: 1;
}

.s6 {
    position: relative;
    padding: 25rem 0 0;
}

.s6 .arrow-yellow .st2 {
    stroke: yellow;
}

.s6 .special-title {
    position: sticky;
    top: 5%;
    width: 90%;
    margin: 0 auto;
    color: #fff000;
}

.s6 .special-title>h2 {
    font-size: 4rem;
    margin: 1rem 0;
}

.s6 .special-title>p {
    font-size: 1.1rem;
    /* 1rem = 16px */
    line-height: 2rem;
    font-weight: lighter;
}

.s6 .special-title .more-btn {
    margin-top: 5rem;
}

.s6 .special-title>.more-btn a .more p {
    color: #fff000;
}

.s6 .special-title>.more-btn:hover a .more p {
    color: #006432;
}

.s6 .special-title>.more-btn:hover a .more span {
    width: 100%;
}

.s6 .special-title>.more-btn a .more span {
    position: absolute;
    background-color: #fff000;
    width: 0;
    height: 100%;
    transition: width 0.3s ease-out;
}

.s6 .special-content {
    width: 65%;
    margin-left: auto;
    margin-right: 7%;
}

.s6 .special-content .custom-cursor-area,
.s6 .special-content .special-wrap {
    position: relative;
}

.s6 .special-content .special-wrap {
    overflow: hidden;
    opacity: 0;
    border-radius: 500px;
    transform: translateY(300px);
    transition: all 1.8s 0.2s ease-out;
}

/* intro-wrap 애니메이션 */
.s6 .special-content .special-wrap.active {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0);
}

.s6 .special-content .custom-cursor-area .special-img span {
    font-size: 1rem;
    color: #fff000;
}

.s6 .special-content .custom-cursor-area .special-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 170, 120, 0.8);
    color: #283223;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
}

.s6 .special-content .custom-cursor-area:hover .special-hover {
    opacity: 1;
}

.s6 .special-content .custom-cursor-area .special-des {
    position: absolute;
    transform: rotateZ(90deg);
    transform-origin: left top;
    left: 107%;
    top: 0;
    color: #fff000;
    font-size: 1.4rem;
}

.s6 .special-content .custom-cursor-area span {
    font-size: 1.2rem;
    color: #fff000;
    margin-top: 1rem;
    display: block;
}

.s6 .special-content .special1 {
    width: 30rem;
    margin-left: auto;
    margin-right: 0;
}

.s6 .special-content .special2 {
    width: 30rem;
    margin-top: -8rem;
    margin-left: 7%;
    margin-right: auto;
}

.s6 .special-content .special3 {
    width: 40%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 6%;
}

.s6 .special-content .special4 {
    width: 35%;
    margin-top: -8rem;
}

.s6 .special-content .special5 {
    width: 40%;
    margin-top: -10rem;
    margin-left: auto;
    margin-right: 0;
}

.s6 .special-content .special6 {
    width: 40%;
    margin-top: -10rem;
    margin-left: 5%;
    margin-right: auto;
}

.s6 .special-content .special7 {
    width: 40%;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: 5%;
}

/* 흐르는 글자 */
.text-ani2 {
    margin: 5rem 0 1rem 0;
}

.text-ani2 .text-wrap {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 10rem;
    color: rgba(255, 240, 0, 0.3);
    font-family: "Scheherazade New", serif;
}




.text-ani2 .text-wrap p {
    animation: textAni2 100s linear infinite;
    padding-right: 0;
    font-weight: bold;
}

@keyframes textAni2 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.s8 {
    width: 100%;
    position: relative;
    padding-top: 6rem;
    color: #283223;
    overflow: hidden;
    background-color: #aaaa78;
}

.s8 .text-wrap {
    width: 96%;
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.s8 .text-wrap p {
    font-size: 1.6rem;
    color: #006432;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

.s8 .text-wrap p img {
    width: 34%;
}

.s9 .partner-wrap {
    background-color: #006432;
}

.s9 {
    width: 100%;
}

.s9 .partner-wrap {
    width: 100%;
    padding: 10rem 0 5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.s9 .partner-wrap>h2 {
    font-size: 3rem;
    margin-top: 3rem;
    opacity: 0;
    transition: margin-top 1s 0.1s ease-out, opacity 1s 0.1s ease-out;
    text-align: center;
    color: #fff000;
}

.s9 .partner-wrap>p {
    font-size: 1.2rem;
    margin-top: 3rem;
    opacity: 0;
    transition: margin-top 1s 0.2s ease-out, opacity 1s 0.2s ease-out;
    color: #fff000;
}

.s9 .partner-wrap .more-btn {
    margin-top: 8rem;
    opacity: 0;
    transition: margin-top 1s 0.3s ease-out, opacity 1s 0.3s ease-out;
}

/* .s9 자식객체 애니메이션 */
.s9.child-ani .partner-wrap>h2 {
    margin-top: 0;
    opacity: 1;
}

.s9.child-ani .partner-wrap>p {
    margin-top: 1rem;
    opacity: 1;
}

.s9.child-ani .partner-wrap .more-btn {
    margin-top: 6rem;
    opacity: 1;
}

.s9 .partner-wrap .more-btn {
    margin-top: 5rem;
}

.s9 .partner-wrap>.more-btn a .more p {
    color: #fff000;
}

.s9 .partner-wrap>.more-btn:hover a .more p {
    color: #006432;
}

.s9 .partner-wrap>.more-btn:hover a .more span {
    width: 100%;
}

.s9 .partner-wrap>.more-btn a .more span {
    position: absolute;
    background-color: #fff000;
    width: 0;
    height: 100%;
    transition: width 0.3s ease-out;
}

.s9 {
    background-color: #006432;
}

.s9 .img-ani {
    width: 100%;
    height: 11rem;
    padding: 2rem 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    position: relative;
    opacity: 0;
    transition: opacity 1s 0s ease-out;
}

.s9 .img-ani .inner {
    width: 200%;
    height: 80%;
    display: flex;
    position: absolute;
    overflow: hidden;
}

.s9 .img-ani .inner .track {
    width: 110%;
    display: flex;
    justify-content: space-around;
}

.s9 .img-ani .inner .track p {
    font-size: 3rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

/* .s9자식객체 애니메이션 */
.s9.child-ani .img-ani {
    opacity: 1;
}

.s11 {
    padding: 20rem 0 10rem 10rem;
    background-color: #d2d2d2;
}

.s11 h2 {
    font-size: 3.5rem;
    margin-top: 3rem;
    opacity: 0;
    transition: margin-top 1.8s 0.2s ease-out, opacity 1.8s 0.2s ease-out;
}

.s11 p {
    font-size: 1.2rem;
}

.s11>p {
    margin-top: 3rem;
    opacity: 0;
    transition: margin-top 1.8s 0.3s ease-out, opacity 1.8s 0.3s ease-out;
}

.s11 .swiper {
    width: 105%;
    margin-top: 4rem;
    opacity: 0;
    transition: margin-top 1.8s 0.4s ease-out, opacity 1.8s 0.4s ease-out;
}

.s11 .swiper-wrapper {
    margin-top: 5.5rem;
}

.s11 .swiper-img {
    height: 200px;
}

.s11 .swiper-slide b {
    color: #3282b8;
    margin: 1rem 0;
    display: block;
}

.s11 .swiper-slide h3 {
    margin-bottom: 2rem;
}

.s11 .swiper-slide p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.s11 .swiper-slide span {
    font-size: 0.8rem;
}

.s11 .swiper .swiper-button-next {
    width: 40px;
    height: 40px;
    bottom: auto;
    top: 2rem;
    right: 16.5%;
}

.s11 .swiper .swiper-button-next:after {
    content: "";
    width: 40px;
    height: 30px;
    background-image: url(../img/right_arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s11 .swiper .swiper-button-prev {
    width: 60px;
    height: 60px;
    bottom: auto;
    top: 1.35rem;
    left: 76%;
}

.s11 .swiper .swiper-button-prev:after {
    content: "";
    width: 40px;
    height: 30px;
    background-image: url(../img/right_arrow.svg);
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .s11 자식객체 애니메이션 */
.s11.child-ani h2 {
    opacity: 1;
    margin-top: 0;
}

.s11.child-ani h2 {
    opacity: 1;
    margin-top: 0;
}

.s11.child-ani>p {
    opacity: 1;
    margin-top: 0;
}

.s11.child-ani .swiper {
    margin-top: 5.5rem;
    opacity: 1;
}

.s12 {
    height: 130vh;
    position: relative;
    padding-top: 3rem;
    background-color: #006432;
}

.s12 .text-wrap p {
    color: rgba(255, 240, 0, 0.3);

}

.s12 .line-up {
    position: absolute;
    top: 15rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.s12 .line-up h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    opacity: 0;
    transition: margin-top 1.8s 0.2s ease-out, opacity 1.8s 0.2s ease-out;
    color: #fff000;
}

.s12 .line-up p {
    font-size: 1.1rem;
    margin-bottom: -8rem;
    opacity: 0;
    transition: margin-top 1.8s 0.4s ease-out, opacity 1.8s 0.4s ease-out;
    color: #fff000;
}

.s12 .line-up .ani-area {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    transition: clip-path 1.8s 0.6s ease-out;

}

.s12 .line-up .line-up-video {
    width: 90%;
    height: 81vh;
    margin: 10rem auto 0;
    overflow: hidden;
}

/* .s12 .line-up .line-up-video:after {
    content: "";
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(255, 240, 0, 1), rgba(255, 240, 0, 0) 50%);
} */
.s12 .line-up .line-up-video iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* .s12자식객체 애니메이션 */
.s12.child-ani .line-up h2 {
    margin-top: 0;
    opacity: 1;
}

.s12.child-ani .line-up p {
    margin-top: 1rem;
    opacity: 1;
}

.s12.child-ani .line-up .ani-area {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
}

footer {
    width: 100%;
    background-color: #111;
    position: relative;
}

footer .footer-wrap {
    width: 80%;
    margin: 0 auto;
    color: #eee;
}

footer .footer-wrap .footer-top {
    padding: 4rem 0;
    display: flex;
}

footer .footer-wrap .footer-top .footer-top-left,
footer .footer-wrap .footer-top .footer-top-right {
    width: 50%;
}

footer .footer-wrap .footer-top .footer-top-left h2 {
    font-size: 1rem;
}

footer .footer-wrap .footer-top .footer-top-left address {
    font-size: 1rem;
    font-style: normal;
    margin-top: 3rem;
}

footer .footer-wrap .footer-top .footer-top-left address span {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 2rem 0;
}

footer .footer-wrap .footer-top .footer-top-left i {
    font-style: normal;
    font-size: 0.8rem;
    color: #aaaa78;
}

footer .footer-wrap .footer-top .footer-top-left .btns {
    margin-top: 4rem;
}

footer .footer-wrap .footer-top .footer-top-left .btns button {
    border: 2px solid #eee;
    background-color: #111;
    color: #eee;
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

footer .footer-wrap .footer-top .footer-top-left .btns button:hover {
    background-color: #eee;
    color: #111;
}

/* footer .footer-wrap .footer-top .footer-top-right .map {
    width: 100%;
    height: 23.5rem;
    background-color: #ddd;
} */
footer .footer-wrap .footer-bottom {
    padding: 4rem 0;
    display: flex;
}

footer .footer-wrap .footer-bottom .footer-bottom-left {
    width: 80%;
}

footer .footer-wrap .footer-bottom .footer-bottom-left .footer-logo {
    width: 17rem;
}

footer .footer-wrap .footer-bottom .footer-bottom-left address {
    font-style: normal;
    font-size: 0.8rem;
    margin: 2.5rem 0;
    line-height: 1.6rem;
}

footer .footer-wrap .footer-bottom .footer-bottom-left p {
    color: #666;
    font-size: 0.8rem;
}

footer .footer-wrap .footer-bottom .footer-bottom-right {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    /* 열기준 줄바꿈 금지 */
    align-items: flex-end;
    /* 오른쪽에 배치 */
    justify-content: flex-end;
    /* 아래에 배치 */
}

footer .footer-wrap .footer-bottom .footer-bottom-right .family {
    width: 12rem;
    position: relative;
    z-index: 300;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .family>a {
    font-size: 0.8rem;
    border: 1px solid #eee;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0.6rem 1rem;
    z-index: 301;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .family>a span {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .family .family-site {
    position: absolute;
    bottom: 35px;
    overflow: hidden;
    width: 100%;
    z-index: 300;
    display: none;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .family .family-site a {
    font-size: 0.7rem;
    color: #eee;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #111;
    transition: all 0.5s;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .family .family-site a:hover {
    background-color: #eee;
    color: #111
}

footer .footer-wrap .footer-bottom .footer-bottom-right .sns {
    width: 15rem;
    margin-top: 3rem;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .sns ul {
    display: flex;
    justify-content: space-between;
}

footer .footer-wrap .footer-bottom .footer-bottom-right .sns ul li {
    width: 3rem;
}

footer .top-btn {
    position: fixed;
    right: 40px;
    bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background-color: #fff000;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 500;
}

footer .top-btn:hover .top-btn-wrap {
    transform: translateX(0);
    transition: all 0.3s;
}

footer .top-btn:hover .top-btn-wrap {
    transform: translateY(-5px);
}

footer .top-btn.show {
    opacity: 1;
}

footer .top-btn.fixed {
    position: absolute;
    right: 50px;
    top: 65%;
}

/* 테블릿 버전 미디어 쿼리 */
@media screen and (max-width: 1279px) {}

/* 모바일 버전 미디어 쿼리 */
@media screen and (max-width: 480px) {
    header {
        height: 70px;
    }

    header .logo {
        width: 50%;
    }

    header nav {
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color: #aaaa78;
    }

    header nav .nav-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    header nav>ul {
        flex-flow: column nowrap;
        margin-top: 3rem;
    }

    header nav>ul>li>a {
        font-size: 1.2rem;
        text-align: center;
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header nav > ul > li > a:after {
        display: none;
    }

    header nav .sub {
        position: relative;
        display: none;
        top: 0;
    }

    header nav .sub li a {
        color: #006432;
    }

    header .sub-bg {
        display: none;
    }

    header nav .nav-header {
        display: block;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    header nav .nav-header ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    header nav .nav-header ul li {
        padding: 0 0.5rem;
    }

    header nav .nav-header ul li a {
        color: #283223;
        font-size: 0.9rem;
    }

    header nav .nav-header #close-btn {
        width: 1.7rem;
    }

    /* pc버전 메뉴이므로 모바일에서 안보임 */
    header .top-menu {
        display: none;
    }

    /* 모바일 버전 메뉴 보임 */
    header .mobile-top-menu {
        display: block;
    }

    header .mobile-top-menu ul {
        display: flex;
    }

    header .mobile-top-menu ul li {
        width: 1.4rem;
        margin-left: 0.8rem;
    }

    .s1 {
        height: 100vh;
    }

    .s1 .movie {
        display: none;
    }

    .s1 .scroll {
        display: none;
    }

    .s1 .mobile-movie {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 177.78%;
    }

    .s1 .mobile-movie iframe {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: block;
        left: 0;
        top: 0;
        border: none;
    }

    .s2 {
        padding-top: 8rem;
    }

    .s2 .swiper .swiper-slide {
        width: 100%;
        flex-flow: column nowrap;
    }

    .s2 .swiper .swiper-slide .des {
        width: 100%;
        height: 70%;
        z-index: 10;
    }

    .s2 .swiper .swiper-slide .des h2 {
        font-size: 2rem;
    }

    .s2.child-ani .swiper .swiper-slide .des>p {
        top: 6rem;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    .s2 .swiper .swiper-pagination {
        top: 14rem;
        bottom: auto;
    }

    .s2 .swiper .swiper-pagination .swiper-pagination-total {
        left: 10.5rem;
    }

    .s2 .swiper .swiper-progress-bar {
        top: 14.5rem;
        bottom: auto;
        width: 7rem;
    }

    .s2 .swiper .swiper-button-prev {
        top: 14.5rem;
        left: 12rem;
        bottom: auto;
    }

    .s2 .swiper .swiper-button-next {
        top: 14.5rem;
        left: 14rem;
        bottom: auto;
    }

    .s2 .swiper .swiper-slide .photo {
        width: 100%;
        bottom: 2rem;
        z-index: 9;
    }

    .s2 .swiper .swiper-slide .more-btn {
        display: none;
    }

    .s3 {
        padding: 10% 0;
    }

    .s3 .text-ani .text-wrap {
        font-size: 3rem;
    }

    .s4 .product .product-box {
        width: 90%;
    }

    .s4 .product .product-box .cont {
        flex-flow: column nowrap;
    }

    .s4 .product .product-box .cont .left-img-box,
    .s4 .product .product-box .cont .left-cover-box,
    .s4 .product .product-box .cont .left-txt-box {
        width: 100%;
    }

    .s4 .product .product-box .product-title-wrap .product-title-child {
        padding: 0;
    }

    .s4 .product .product-box .product-title-wrap .product-title-child h2 {
        top: 0;
        font-size: 2rem;
    }

    .s4 .product .product-box .product-title-wrap .product-title-child p {
        top: 3rem;
        line-height: 1.4rem;
    }

    .s4.child-ani .product .product-box .product-title-wrap .product-title-child h2 {
        left: 0;
    }

    .s4.child-ani .product .product-box .product-title-wrap .product-title-child p {
        left: 0;
    }


    .s4 .product .product-box .product-title-wrap .product-title-child .boxs {
        width: 100%;
        margin-top: 5rem;
    }

    .s4 .product .product-box .product-title-wrap .product-title-child .boxs .box {
        width: 24%;
        height: 5.4rem;
    }

    .s4 .product .product-box .product-title-wrap .product-title-child .boxs .box h3 {
        font-size: 0.55rem;
    }

    .s4 .product .product-box .cont .right-img-box,
    .s4 .product .product-box .cont .right-cover-box,
    .s4 .product .product-box .cont .right-txt-box {
        width: 100%;
    }

    .s4 .product .product-box .cont .right-txt-box {
        padding-top: 20% 5%;
    }

    .s5 h2 {
        top: 12%;
        font-size: 1.7rem;
        padding-top: 28%;
    }

    .s5 {
        padding-top: 50%;
    }

    .s5 .big-box h3 {
        font-size: 1.6rem;
    }

    .s5 big-box p {
        font-size: 0.9rem;
        line-height: 1.4rem;
        white-space: initial;       /* nowrap 해제 */
    }

    .s6 .special-title > h2 {
        font-size: 1.3rem;
        margin-bottom: 0.35rem;
    }

    .s6 .special-title > p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    .s6 .special-title .more-btn {
        margin: 10% auto;
    }
    .s6 .special .more-btn {
        margin: 0 auto;
        margin-top: 2rem;
        width: 8rem;
    }
    
    .s6 .special .more-btn a .more p {
        font-size: 0.5rem;
    }

    .s6 .special .more-btn a .arrow {
        padding: 0.8rem 0.6rem;
    }

    .s6 .special-content {
        width: 90%;
        margin: 0 auto;
    }

    .s6 .special-content .special1 {
        width: 74%;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .s6 .special-content .special2 {
        width: 72%;
        margin-left: 3%;
        margin-top: 4rem;
    }
    .s6 .special-content .special3 {
        width: 72%;
        margin-right: 0;
        margin-top: 4rem;
    }
    .s6 .special-content .special4 {
        width: 72%;
        margin-left: 0;
        margin-top: 4rem;
    }
    .s6 .special-content .special5 {
        width: 68%;
        margin-left: auto;
        margin-right: 0;
        margin-top: 4rem;
    }
    .s6 .special-content .special6 {
        width: 72%;
        margin-left: 3%;
        margin-top: 4rem;
    }
    .s6 .special-content .special7 {
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .s6 .special-content .custom-cursor-area .special-des {
        right: -110%;
        font-size: 1rem;
    }

    .s6 .special-content .custom-cursor-area span {
        font-size: 0.9rem;
        margin-top: 0.3rem;
    }

    .text-ani {
        margin: 0;
    }

    .text-ani2 .text-wrap {
        font-size: 3rem;
    }

    .s8 {
        padding-top: 4rem;
    }
    .s8 .text-wrap {
        left: 40%;
    }
    .s8 .text-wrap p {
        font-size: 0.8rem;
    }
    .s8 .text-wrap p img {
        width: 90%;
    }

    .s9 {
        padding: 5rem 0;
    }

    .s9.child-ani .partner-wrap > h2 {
        font-size: 2rem;
    }

    .s9.child-ani .partner-wrap > p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .s9.child-ani .partner-wrap .more-btn {
        margin-top: 3rem;
    }

    .s9 .img-ani {
        padding: 1.5rem 0;
    }
    .s9 .img-ani .inner .track p {
        width: 10%;
    }

    .s11 {
        margin-top: 8rem;
        padding-left: 0;
    }
    .s11 h2 {
        font-size: 2rem;
    }
    .s11 p {
        font-size: 0.9rem;
    }
    .s11 .swiper .swiper-button-prev {
        top: 3rem;
        left: 63%;
    }
    .s11 .swiper .swiper-button-next {
        top: 3.626rem;
        right: 13%;
    }

    .s11 .swiper-slide b {
        font-size: 0.8rem;;
        margin: 0.5rem;
    }

    .s11 .swiper-slide h3 {
        font-size: 1rem;
        white-space: initial;
    }

    .s11 .swiper-slide p {
        font-size: 0.8rem;
    }

    .s11 .swiper-slide span {
        color: #999;
    }

    .s12 {
        padding-top: 4rem;
        height: 50vh;
    }

    .s12 .text-ani .text-wrap {
        font-size: 3rem;
    }

    .s12 .line-up {
        top: 7rem;
        width: 90%;
    }

    .s12.child-ani .line-up h2 {
        font-size: 1.9rem;
    }

    .s12 .line-up p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .s12 .line-up .line-up-video {
        margin-top: 10.1rem;
        height: 24.3vh;
    }

    footer .footer-wrap {
        width: 90%;
    }

    footer .footer-wrap .footer-top {
        padding: 2rem 0;
        flex-flow: column nowrap;
    }

    footer .footer-wrap .footer-top .footer-top-left, footer .footer-wrap .footer-top .footer-top-right {
        width: 100%;
    }

    footer .footer-wrap .footer-top .footer-top-left h2 {
        font-size: 0.8rem;
    }

    footer .footer-wrap footer-top .footer-top-left address {
        margin-top: 2rem;
        font-size: 1.4rem;
    }

    footer .footer-wrap .footer-top .footer-top-left address span {
        font-size: 0.9rem;
        margin: 1rem 0;
        line-height: 1.2rem;
    }

    footer .footer-wrap .footer-top .footer-top-left .btns {
        margin-top: 2rem;
    }
    
    footer .footer-wrap .footer-top .footer-top-left .btns button {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
        margin: 0 0.2rem;
    }
    footer .footer-wrap .footer-top .footer-top-right .map {
        margin-top: 2rem;
    }

    footer .footer-wrap .footer-bottom {
        padding: 2rem 0;
        flex-flow: column nowrap;
    }

    footer .footer-wrap .footer-bottom .footer-bottom-left {
        width: 100%;
    }

    footer .footer-wrap .footer-bottom .footer-bottom-left .footer-logo {
        width: 12rem;
    }

    .footer .footer-wrap .footer-bottom .footer-bottom-left address {
        line-height: 1.4rem;
        margin: 1.8rem 0;
    }

    footer .footer-wrap .footer-bottom .footer-bottom-right {
        width: 100%;
        align-items: center;
        margin-top: 3rem;
    }

    footer .footer-wrap .footer-bottom .footer-bottom-right .sns {
        margin-top: 2rem;
    }

    footer .top-btn {
        /* right: 2%;
        bottom: 2%;    */
        display: none;
    }

    .custom-cursor {
        display: none;
    }
}